<footer>
  <div class="container">
    <div class="text-center">
      <div class="section-title">Kontaktujte nás</div>
    </div>
    <div class="row contact-info">
      <div class="col-lg-4">
        <div class="contact-info-box">
          <img src="images/icons/phone.svg" alt="">
          <a href="tel:+420-777-888-999">+420 777 888 999</a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="contact-info-box">
          <img src="images/icons/mail.svg" alt="">
          <a href="mailto:info@cestadreva.cz">info@cestadreva.cz</a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="contact-info-box">
          <img src="images/icons/fb.svg" alt="">
          <a href="#">Facebook</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <ul class="quick-menu">
          <li class="menu-item list-title"><a href="#">O nákupu</a></li>
          <li class="menu-item"><a href="#">Doprava a platba</a></li>
          <li class="menu-item"><a href="#">Obchodní podmínky</a></li>
          <li class="menu-item"><a href="#">Reklamace</a></li>
          <li class="menu-item"><a href="#">Kontakty</a></li>
        </ul>
      </div>
      <div class="col-lg-8">
        <div class="newsletter">
          <div class="newsletter-label">Vydejte se na cestu dřeva</div>
          <div class="newsletter-desc">Získejte slevy, akce, novinky nebo také zajímavé tipy na články, návody a videa.</div>
          <div class="input-group">
            <input type="text" name="email" placeholder="Zadejte svůj e-mail">
            <button class="btn-submit" type="submit">Vydat se na cestu</button>
          </div>
          <div class="little-txt">Odesláním formuláře souhlasíte s odebíráním newsletterů a <span class="underlined">zásadami zpracování osobních údajů.</span></div>
        </div>
      </div>
    </div>
    <div class="copyright-text text-center">
      Cesta dřeva 2020
    </div>
  </div>
</footer>
