<div class="header small">
  <div class="top-nav-outer">
    <div class="container">
      <div class="top-nav-menu">
                        <span class="top-nav-item">
                            <img src="./images/icons/phone_top.svg" alt="">
                            +420 777 888 999
                        </span>
        <span class="top-nav-divider">|</span>
        <span class="top-nav-item">Doprava a platba</span>
        <span class="top-nav-item">O nás</span>
        <span class="top-nav-item">Kontakt</span>
        <span class="top-nav-item">Literatura</span>
        <span class="top-nav-item">Diskuze</span>
        <span class="top-nav-item">Odkazy</span>
        <div class="user-section">
          <img src="./images/icons/account.svg" alt="">
          Můj účet
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav id="navigation" class="nav-top navbar navbar-expand-xl static-top">
      <a title="Úvodní stránka" class="navbar-brand" href="./index.html">
        <img src="./images/logo.png" alt="">
      </a>
      <div class="action-menu" data-toggle="collapse">
        <button class="navbar-search">
          <img src="./images/icons/search.svg" alt="">
        </button>
        <button class="cart btn-action">
          <img src="./images/icons/cart.svg" alt="">
          <div class="cart-item-number">4</div>
        </button>
        <button class="navbar-toggler" type="button" >
          <img src="./images/icons/menu-toggle.svg" alt="">
        </button>
      </div>

      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <div class="navbar-links">
            <li class="nav-item"><a class="nav-link" href="#">Pily</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Záhradní nářadí</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Hoblíky</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Dláta</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Brousky</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Nátěry</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><span class="nav-item-divider">|</span></a></li>
            <li class="nav-item mega-menu-toggler"><a class="nav-link" href="#">Celá nabídka <img src="./images/icons/arrow_down.svg" alt=""></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><span class="nav-item-divider">|</span></a></li>
            <li class="nav-item search-toggler"><a class="nav-link" href="#"><img src="./images/icons/search.svg" alt=""></a></li>
          </div>
          <div id="main" class="search-box">
            <img src="./images/icons/search.svg" alt="">
            <input type="text">
            <button class="btn-action">Hledat</button>
            <div class="close-btn"><img src="./images/icons/cross.svg" alt=""></div>

            <div class="search-results">
              <div class="search-result-item">
                <div class="search-result-item-img"><img class="img-fluid" src="./images/pila.png" alt=""></div>
                <div class="search-result-item-name">Kapesní <strong>pil</strong>ka</div>
                <div class="search-result-item-price">1 060 Kč</div>
              </div>

              <div class="search-result-item">
                <div class="search-result-item-img"><img class="img-fluid" src="./images/pila.png" alt=""></div>
                <div class="search-result-item-name">Náhradní lupínky k <strong>pil</strong>e</div>
                <div class="search-result-item-price">1 060 Kč</div>
              </div>

              <div class="search-result-item">
                <div class="search-result-item-img"><img class="img-fluid" src="./images/pila.png" alt=""></div>
                <div class="search-result-item-name">Kapesní <strong>pil</strong>ka</div>
                <div class="search-result-item-price">1 060 Kč</div>
              </div>
            </div>
          </div>
          <button class="cart btn-action">
            <img src="./images/icons/cart.svg" alt="">
            2 300 Kč
            <div class="cart-item-number">4</div>
          </button>
        </ul>

      </div>
      <div class="menu-responsive">
        <ul class="responsive-list">
          <div class="main-menu">
            <li class="responsive-list-item"><a class="responsive-list-link" href="#">Pily</a></li>
            <li class="responsive-list-item active"><a class="responsive-list-link" href="#">Zahradní nářadí</a></li>
            <li class="responsive-list-item"><a class="responsive-list-link" href="#">Hoblíky</a></li>
            <li class="responsive-list-item"><a class="responsive-list-link" href="#">Dláta</a></li>
            <li class="responsive-list-item"><a class="responsive-list-link" href="#">Brousky</a></li>
            <li class="responsive-list-item"><a class="responsive-list-link" href="#">Nátěry</a></li>
            <li class="responsive-list-item"><a class="responsive-list-link" href="#">Celá nabídka</a></li>
          </div>
          <div class="contact-menu">
            <li class="responsive-list-item">
              <img src="./images/icons/account.svg" alt="">
              <a class="responsive-list-link" href="#">Můj účet</a>
            </li>
            <li class="responsive-list-item active"><a class="responsive-list-link" href="#">Doprava a platba</a></li>
            <li class="responsive-list-item"><a class="responsive-list-link" href="#">O nás</a></li>
            <li class="responsive-list-item"><a class="responsive-list-link" href="#">Kontakt</a></li>
            <li class="responsive-list-item"><a class="responsive-list-link" href="#">Literatura</a></li>
            <li class="responsive-list-item"><a class="responsive-list-link" href="#">Diskuze</a></li>
            <li class="responsive-list-item"><a class="responsive-list-link" href="#">Odkazy</a></li>
          </div>

        </ul>
      </div>
      <div class="search-box search-mobile">
        <img src="./images/icons/search.svg" alt="">
        <input type="text">
        <button class="btn-action">Hledat</button>
        <div class="close-btn"><img src="./images/icons/cross.svg" alt=""></div>

        <div class="search-results">
          <div class="search-result-item">
            <div class="search-result-item-img"><img class="img-fluid" src="./images/pila.png" alt=""></div>
            <div class="search-result-item-name">Kapesní <strong>pil</strong>ka</div>
            <div class="search-result-item-price">1 060 Kč</div>
          </div>

          <div class="search-result-item">
            <div class="search-result-item-img"><img class="img-fluid" src="./images/pila.png" alt=""></div>
            <div class="search-result-item-name">Náhradní lupínky k <strong>pil</strong>e</div>
            <div class="search-result-item-price">1 060 Kč</div>
          </div>

          <div class="search-result-item">
            <div class="search-result-item-img"><img class="img-fluid" src="./images/pila.png" alt=""></div>
            <div class="search-result-item-name">Kapesní <strong>pil</strong>ka</div>
            <div class="search-result-item-price">1 060 Kč</div>
          </div>
        </div>
      </div>
      <div class="cart-preview">
        <img id="triangle" src="./images/icons/triangle.svg" alt="">
        <h3>Nákupní košík</h3>
        <div class="product-list">
          <div class="product-item">
            <img class="product-item-img" src="./images/pila.png" alt="">
            <div class="product-detail">
              <div class="product-item-name">Ryoba Seiun saku 300</div>
              <span class="product-number">1 ks</span>
              <span class="product-price">1 060 Kč</span>

            </div>
          </div>
          <div class="product-item">
            <img class="product-item-img" src="./images/pila.png" alt="">
            <div class="product-detail">
              <div class="product-item-name">Ryoba Seiun saku 300</div>
              <span class="product-number">1 ks</span>
              <span class="product-price">1 060 Kč</span>

            </div>
          </div>
          <div class="total">
            <span class="total-price">Celkem <strong class="total-price-number">2 300 Kč</strong></span>
            <button class="btn-action">Přejít do košíku</button>
          </div>

        </div>
      </div>
      <div class="mega-menu">
        <div class="row">
          <div class="col-lg-3">
            <div class="mega-menu-item">

              <div class="row">
                <div class="col-md-2">
                  <div class="menu-item-img"><img class="img-fluid" src="./images/pila.png" alt=""></div>
                </div>

                <div class="col-md-10">
                  <div class="menu-item-name">Pily</div>
                  <div class="links">
                    <a href="#">Tradiční japonské pily</a>
                    <a href="#">Stavební pily</a>
                    <a href="#">Pily do zahrady a lesa</a>
                    <a href="#">Speciální pily</a>
                    <a href="#">Listy k pilám</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="mega-menu-item">

              <div class="row">
                <div class="col-md-2">
                  <div class="menu-item-img"><img class="img-fluid" src="./images/pila.png" alt=""></div>
                </div>

                <div class="col-md-10">
                  <div class="menu-item-name">Barvy, oleje a ředidla</div>
                  <div class="links">
                    <a href="#">Přírodní olee a ředidla</a>
                    <a href="#">Olejové barvy</a>
                    <a href="#">Štetce</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="mega-menu-item">

              <div class="row">
                <div class="col-md-2">
                  <div class="menu-item-img"><img class="img-fluid" src="./images/hoblik.png" alt=""></div>
                </div>

                <div class="col-md-10">
                  <div class="menu-item-name">Hoblíky</div>
                  <div class="links">
                    <a href="#">Litinové ruční hoblíky</a>
                    <a href="#">Náhradní díly</a>
                    <a href="#">Dřevené ruční hoblíky</a>
                    <a href="#">Vlaštovky</a>
                    <a href="#">Ostatní nástroje na úpravy povrchů</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="mega-menu-item">

              <div class="row">
                <div class="col-md-2">
                  <div class="menu-item-img"><img class="img-fluid" src="./images/dlata.png" alt=""></div>
                </div>

                <div class="col-md-10">
                  <div class="menu-item-name">Dláta</div>
                  <div class="links">
                    <a href="#">Tesařská dláta</a>
                    <a href="#">Truhlářská dláta</a>
                    <a href="#">Sady dlát</a>
                    <a href="#">Paličky</a>
                    <a href="#">Ostatní nástroje</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="mega-menu-item">

              <div class="row">
                <div class="col-md-2">
                  <div class="menu-item-img"><img class="img-fluid" src="./images/dlata.png" alt=""></div>
                </div>

                <div class="col-md-10">
                  <div class="menu-item-name">Měření a rýsování</div>
                  <div class="links">
                    <a href="#">měření</a>
                    <a href="#">Rýsování</a>
                    <a href="#">Náhradní díly</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="mega-menu-item">

              <div class="row">
                <div class="col-md-2">
                  <div class="menu-item-img"><img class="img-fluid" src="./images/srp.png" alt=""></div>
                </div>

                <div class="col-md-10">
                  <div class="menu-item-name">Japonské zahradní nářadí</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="mega-menu-item">

              <div class="row">
                <div class="col-md-2">
                  <div class="menu-item-img"><img class="img-fluid" src="./images/brouseni.png" alt=""></div>
                </div>

                <div class="col-md-10">
                  <div class="menu-item-name">Měření a rýsování</div>
                  <div class="links">
                    <a href="#">Brusné kameny</a>
                    <a href="#">Pomůcky k ručnímu broušení</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="mega-menu-item">

              <div class="row">
                <div class="col-md-2">
                  <div class="menu-item-img"><img class="img-fluid" src="./images/vybaveni.png" alt=""></div>
                </div>

                <div class="col-md-10">
                  <div class="menu-item-name">Další vybavení dílny</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
