//roboto
@font-face {
    font-family: roboto_regular;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: roboto_bold;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}

//sarabun
@font-face {
    font-family: sarabun_regular;
    src: url('../fonts/sarabun/Sarabun-Regular.ttf');
}
@font-face {
    font-family: sarabun_medium;
    src: url('../fonts/sarabun/Sarabun-Medium.ttf');
}
@font-face {
    font-family: sarabun_semibold;
    src: url('../fonts/sarabun/Sarabun-SemiBold.ttf');
}
