<!DOCTYPE html>
<html>
@@include('../partials/head/head.html', {
"pageTitle": "O nás"
})
    <body>
        <div class="wrapper">
          @@include('../partials/header.html')
            <main class="main-page-content">
                <div class="container">
                    <h1 class="page-title">Naše cesta za dřevem</h1>

                    <div class="about-us-item">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-lg-0 mb-4 text-center">
                                <img src="images/about_us.jpg" alt="">
                            </div>
                            <div class="col-lg-6">
                                <p><strong>Vše začalo láskou. Láskou k pravé ruční práci a ke dřevu. Náš eshop vznikl kombinací dvou základních myšlenek</strong></p>
                                <ol class="mb-0">
                                    <li>Nabízet kvalitní ruční nástroje, které je obtížné sehnat na českém trhu.</li>
                                    <li>Dalším stejně důležitým bodem je snaha o vytvoření místa, kde by se mohli řemeslníci sdružovat a předávat si rady, zkušenosti a mohli se navzájem oslovovat ke spolupráci,což přispívá k rozvoji rukodělného řemesla.</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <blockquote>Vše začalo láskou. Láskou k pravé ruční práci a ke dřevu.</blockquote>

                    <div class="about-us-item">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-lg-0 mb-4">
                                <p>Ruční řemesla nebereme jako „krok zpět“, ale jako trvale udržitelné zpracování přírodních materiálů a ohleduplného přístupu k přírodě. Zároveň si vážíme a prohlubujeme zkušenosti a moudrosti našich předků s nynějšími dokonalejšími nástroji i s technikami z jiných kultur. Toto vše nám umožňuje prakticky neomezené možnosti práce se dřevem.</p>
                                <p>Chceme ještě podotknout, že pro nás cesta dřeva znamená krásnou práci s tímto živým elementem a snahu o zachování ručního zpracování dřeva. Znamená to pro nás i lásku k přírodě a snaha vrátit do ní vše, co si vezmeme.</p>
                            </div>
                            <div class="col-lg-6 text-center">
                                <img src="images/about_us.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <blockquote>Ruční řemesla pro nás znamenají trvale udržitelné zpracování přírodních materiálů a&nbsp;ohleduplný přístup k přírodě.</blockquote>

                    <div class="about-us-item">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-lg-0 mb-4">
                                <p>Jan Marek, truhlář a Zuzana Pěkná, webařka se podílely na našem startu v roce 2008. Kdy pan Marek vybíral kvalitní nářadí, které si osobně vyzkoušel otestoval a posléze jsme ho začali prodávat. A paní Pěkná spravovala web a dohromady se starali o rostoucí komunitu.</p>
                                <p>Do cesty se však postavila nemoc a bohužel paní Pěkná jí v roce 2019 podlehla a obchod jsem převzal já, Vojtěch Janský, tesař. Mým cílem je přinášet stále tak kvalitní nástroje a služby z oboru jako doposud a ještě více. Miluji tradiční řemeslo a práci s tak nádherným materiálem jako je dřevo. A proto se neustále učím a rozšiřuji své spektrum znalostí o tomto neuvěřitelném materiálu, které je tu s námi od nepaměti. </p>
                            </div>
                            <div class="col-lg-6 text-center">
                                <img src="images/about_us.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </main>

          @@include('../partials/footer.html')
        </div>

        @@include('../partials/scripts/common.html')
    </body>
</html>
