<!DOCTYPE html>
<html>
@@include('../partials/head/head.html', {
"pageTitle": "Blog - výpis"
})
    <body>
        <div class="wrapper">
          @@include('../partials/header.html')

            <nav class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li><a href="./index.html">Úvod</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </nav>
            <main class="main-blog-content">
                <div class="container blog-list">
                    <h1 class="blog-list-title">Blog</h1>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <article class="blog-list-item">
                                <div class="item-image">
                                    <a href=""><img src="images/blog.jpg" alt="" class="rounded-8"></a>
                                </div>
                                <div class="item-heading">
                                    <a href=""><h2 class="item-title">Jak vybrat správnou japonskou pilu pro vaše potřeby</h2></a>
                                </div>
                                <div class="item-text">
                                    <p>Užijte si dokonale ostrý a všestraný srp od mistra kováře Takemoto. Jeho rodina je ručně vyrábí už 4 generace!</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <article class="blog-list-item">
                                <div class="item-image">
                                    <a href=""><img src="images/blog.jpg" alt="" class="rounded-8"></a>
                                </div>
                                <div class="item-heading">
                                    <a href=""><h2 class="item-title">Jak vybrat správnou japonskou pilu pro vaše potřeby</h2></a>
                                </div>
                                <div class="item-text">
                                    <p>Užijte si dokonale ostrý a všestraný srp od mistra kováře Takemoto. Jeho rodina je ručně vyrábí už 4 generace!</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <article class="blog-list-item">
                                <div class="item-image">
                                    <a href=""><img src="images/blog.jpg" alt="" class="rounded-8"></a>
                                </div>
                                <div class="item-heading">
                                    <a href=""><h2 class="item-title">Jak vybrat správnou japonskou pilu pro vaše potřeby</h2></a>
                                </div>
                                <div class="item-text">
                                    <p>Užijte si dokonale ostrý a všestraný srp od mistra kováře Takemoto. Jeho rodina je ručně vyrábí už 4 generace!</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <article class="blog-list-item">
                                <div class="item-image">
                                    <a href=""><img src="images/blog.jpg" alt="" class="rounded-8"></a>
                                </div>
                                <div class="item-heading">
                                    <a href=""><h2 class="item-title">Jak vybrat správnou japonskou pilu pro vaše potřeby</h2></a>
                                </div>
                                <div class="item-text">
                                    <p>Užijte si dokonale ostrý a všestraný srp od mistra kováře Takemoto. Jeho rodina je ručně vyrábí už 4 generace!</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <article class="blog-list-item">
                                <div class="item-image">
                                    <a href=""><img src="images/blog.jpg" alt="" class="rounded-8"></a>
                                </div>
                                <div class="item-heading">
                                    <a href=""><h2 class="item-title">Jak vybrat správnou japonskou pilu pro vaše potřeby</h2></a>
                                </div>
                                <div class="item-text">
                                    <p>Užijte si dokonale ostrý a všestraný srp od mistra kováře Takemoto. Jeho rodina je ručně vyrábí už 4 generace!</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <article class="blog-list-item">
                                <div class="item-image">
                                    <a href=""><img src="images/blog.jpg" alt="" class="rounded-8"></a>
                                </div>
                                <div class="item-heading">
                                    <a href=""><h2 class="item-title">Jak vybrat správnou japonskou pilu pro vaše potřeby</h2></a>
                                </div>
                                <div class="item-text">
                                    <p>Užijte si dokonale ostrý a všestraný srp od mistra kováře Takemoto. Jeho rodina je ručně vyrábí už 4 generace!</p>
                                </div>
                            </article>
                        </div>
                    </div>

                    <nav class="pagination pagination-bottom">
                        <div class="prev-wrap">
                            <a href="#" class="prev">Předchozí</a>
                        </div>
                        <div class="toPage-wrap">
                            <a href="#" class="toPage">1</a>
                            <a href="#" class="toPage active">2</a>
                            <a href="#" class="toPage">3</a>
                        </div>
                        <div class="next-wrap">
                            <a href="#" class="next">Další</a>
                        </div>
                    </nav>
                </div>

            </main>
          @@include('../partials/footer.html')
        </div>

        @@include('../partials/scripts/common.html')
    </body>
</html>
