<!DOCTYPE html>
<html>
@@include('../partials/head/head.html', {
"pageTitle": "Blog - detail"
})
    <body>
        <div class="wrapper">
          @@include('../partials/header.html')

            <div class="blog-detail-wrap">
                <nav class="breadcrumbs">
                    <div class="container">
                        <ul>
                            <li><a href="">Úvod</a></li>
                            <li><a href="">Blog</a></li>
                            <li>Jak vybrat správnou japonskou pilu pro vaše potřeby</li>
                        </ul>
                    </div>
                </nav>
                <main class="main-blog-content">
                    <div class="container ">
                        <article class="blog-detail">
                            <div class="blog-detail-image">
                                <img src="images/blog-detail.png" alt="" class="rounded-8">
                            </div>
                            <div class="blog-detail-meta">
                                <time datetime="2020-08-21 12:00">21.8.2020</time>
                                <span class="comments-count">3 <a href="">komentáře</a></span>
                            </div>
                            <h1 class="blog-detail-title">Jak vybrat správnou japonskou pilu pro vaše potřeby</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis accumsan elementum feugiat cursus dui ipsum. Risus enim ut placerat dictum iaculis in tempus. Ac elit urna ac, tortor adipiscing pellentesque egestas. Neque sagittis duis tellus, malesuada nec cum tellus donec.<br>Id sed diam egestas at nisl ornare. Orci libero, sed amet, nec consectetur non. Magna luctus odio leo aliquet enim sed nisl. Nunc pharetra senectus habitant eget congue orci velit bibendum orci. Sed fringilla sit bibendum ullamcorper turpis cursus leo venenatis. Eros, nam tincidunt vitae nunc euismod. Orci, nec turpis ut mauris eleifend ac. Eget mauris.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis accumsan elementum feugiat cursus dui ipsum. Risus enim ut placerat dictum iaculis in tempus. Ac elit urna ac, tortor adipiscing pellentesque egestas. Neque sagittis duis tellus, malesuada nec cum tellus donec.<br>Id sed diam egestas at nisl ornare. Orci libero, sed amet, nec consectetur non. Magna luctus odio leo aliquet enim sed nisl. Nunc pharetra senectus habitant eget congue orci velit bibendum orci. Sed fringilla sit bibendum ullamcorper turpis cursus leo venenatis. Eros, nam tincidunt vitae nunc euismod. Orci, nec turpis ut mauris eleifend ac. Eget mauris.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis accumsan elementum feugiat cursus dui ipsum. Risus enim ut placerat dictum iaculis in tempus. Ac elit urna ac, tortor adipiscing pellentesque egestas. Neque sagittis duis tellus, malesuada nec cum tellus donec.<br>Id sed diam egestas at nisl ornare. Orci libero, sed amet, nec consectetur non. Magna luctus odio leo aliquet enim sed nisl. Nunc pharetra senectus habitant eget congue orci velit bibendum orci. Sed fringilla sit bibendum ullamcorper turpis cursus leo venenatis. Eros, nam tincidunt vitae nunc euismod. Orci, nec turpis ut mauris eleifend ac. Eget mauris.</p>
                        </article>
                        <div class="separator"></div>
                        <div class="blog-detail-comments">
                            <h2 class="comments-title">3 komentáře</h2>
                            <div class="new-comment">
                                <form action="">
                                    <h3 class="new-comment-title">Napsat komentář</h3>
                                    <p class="user-logged">Jste přihlášen jako JZavrel. <a href="">Odhlásit se</a>?</p>
                                    <textarea name="new-comment" id="" rows="5" placeholder="Napište svůj komentář..."></textarea>
                                    <div class="buttons">
                                        <button class="btn-yellow btn-round" type="submit">Přidat komentář</button>
                                    </div>

                                </form>
                            </div>
                            <div class="other-comments">
                                <div class="other-comments-item">
                                    <span class="name">Aleš K.</span>
                                    <div class="text">Je tato pila vhodná k řezání bukového dřeva?</div>
                                    <div class="added">Přidáno <time datetime="2020-07-05 12:00">5.7.2020</time></div>
                                </div>
                            </div>
                            <div class="other-comments">
                                <div class="other-comments-item">
                                    <span class="name">Aleš K.</span>
                                    <div class="text">Je tato pila vhodná k řezání bukového dřeva?</div>
                                    <div class="added">Přidáno <time datetime="2020-07-05 12:00">5.7.2020</time></div>
                                </div>
                            </div>
                            <div class="other-comments">
                                <div class="other-comments-item">
                                    <span class="name">Aleš K.</span>
                                    <div class="text">Je tato pila vhodná k řezání bukového dřeva?</div>
                                    <div class="added">Přidáno <time datetime="2020-07-05 12:00">5.7.2020</time></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>

            </div>


            <div class="container">
                <div class="separator mt-2 mt-sm-5 mb-3 mb-sm-5"></div>
                <div class="other-blogs-wrap">
                    <h2 class="other-blogs-title">Další články</h2>

                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <article class="blog-list-item">
                                <div class="item-image">
                                    <a href=""><img src="images/blog.jpg" alt="" class="rounded-8"></a>
                                </div>
                                <div class="item-heading">
                                    <a href=""><h2 class="item-title">Jak vybrat správnou japonskou pilu pro vaše potřeby</h2></a>
                                </div>
                                <div class="item-text">
                                    <p>Užijte si dokonale ostrý a všestraný srp od mistra kováře Takemoto. Jeho rodina je ručně vyrábí už 4 generace!</p>
                                </div>
                            </article>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <article class="blog-list-item">
                                <div class="item-image">
                                    <a href=""><img src="images/blog.jpg" alt="" class="rounded-8"></a>
                                </div>
                                <div class="item-heading">
                                    <a href=""><h2 class="item-title">Jak vybrat správnou japonskou pilu pro vaše potřeby</h2></a>
                                </div>
                                <div class="item-text">
                                    <p>Užijte si dokonale ostrý a všestraný srp od mistra kováře Takemoto. Jeho rodina je ručně vyrábí už 4 generace!</p>
                                </div>
                            </article>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <article class="blog-list-item">
                                <div class="item-image">
                                    <a href=""><img src="images/blog.jpg" alt="" class="rounded-8"></a>
                                </div>
                                <div class="item-heading">
                                    <a href=""><h2 class="item-title">Jak vybrat správnou japonskou pilu pro vaše potřeby</h2></a>
                                </div>
                                <div class="item-text">
                                    <p>Užijte si dokonale ostrý a všestraný srp od mistra kováře Takemoto. Jeho rodina je ručně vyrábí už 4 generace!</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>

          @@include('../partials/footer.html')
        </div>

        @@include('../partials/scripts/common.html')
    </body>
</html>
