<!DOCTYPE html>
<html lang="cs">
@@include('../partials/head/head.html', {
"pageTitle": "Cesta dřeva - rozcestník"
})

<body>
  <div class="container">
    <div class="py-5 text-center">
      <h1>Cesta dřeva - eshop</h1>
      <p class="mt-4">Přes logo se dostanete zpět na tento rozcestník.<br>
        Header (menu) a footer dělal kolega. Stejně tak převážnou část JS v app.js</p>
      <div class="mt-5">
        <a href="blog.html" class="btn btn-primary btn-lg text-decoration-none mb-2">Blog - výpis</a>
        <a href="blog-detail.html" class="btn btn-primary btn-lg text-decoration-none mb-2">Blog - detail</a>
        <a href="cart.html" class="btn btn-primary btn-lg text-decoration-none mb-2">Košík</a>
        <a href="cart-transport.html" class="btn btn-primary btn-lg text-decoration-none mb-2">Košík - Doprava a platba</a>
        <a href="cart-info.html" class="btn btn-primary btn-lg text-decoration-none mb-2">Košík - Fakturační údaje</a>
        <a href="product-detail.html" class="btn btn-primary btn-lg text-decoration-none mb-2">Detail produktu</a>
        <a href="thankyou.html" class="btn btn-primary btn-lg text-decoration-none mb-2">Thank you page</a>
        <a href="about.html" class="btn btn-primary btn-lg text-decoration-none mb-2">O nás</a>
        <a href="account.html" class="btn btn-primary btn-lg text-decoration-none mb-2">Můj účet</a>
        <a href="account-orders.html" class="btn btn-primary btn-lg text-decoration-none mb-2">Můj účet - Objednávky</a>
        <a href="account-order-detail.html" class="btn btn-primary btn-lg text-decoration-none mb-2">Můj účet - Detail objednávky</a>
        <a href="email_confirm.html" class="btn btn-primary btn-lg text-decoration-none mb-2">Email - potvrzení</a>
        <a href="email_pay.html" class="btn btn-primary btn-lg text-decoration-none mb-2">Email - platba</a>
        <a href="email_sent.html" class="btn btn-primary btn-lg text-decoration-none mb-2">Email - odesláno</a>

      </div>
    </div>
  </div>
  @@include('../partials/scripts/common.html')
</body>

</html>
