<!DOCTYPE html>
<html lang="cs">
@@include('../partials/head/head.html', {
"pageTitle": "Email - odesláno"
})
    <body>
    @@include('../partials/header.html')

        <div id="product-detail-page">
            <div class="container">
                <nav class="breadcrumbs">
                    <div class="container">
                        <ul>
                            <li><a href="">Úvod</a></li>
                            <li><a href="">Pily</a></li>
                            <li><a href="">Tradiční japonské pily</a></li>
                            <li>Ryoba Seiun Saku 300</li>
                        </ul>
                    </div>
                </nav>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="product-detail-img-wrap">
                            <div class="product-detail-name d-lg-none">Ryoba Seiun saku 300</div>
                            <div class="product-detail-score d-lg-none">
                                <img src="images/stars.png" alt="">
                                23 hodnocení
                            </div>
                            <div class="product-detail-img">
                                <img src="images/pila-big.png" alt="">
                            </div>
                            <div class="product-detail-img-gallery">
                                <div class="d-flex">
                                    <div class="product-detail-img-item flex-fill selected">
                                        <img class="img-fluid" src="images/pila.png" alt="">
                                    </div>
                                    <div class="product-detail-img-item flex-fill">
                                        <img class="img-fluid" src="images/pila.png" alt="">
                                    </div>
                                    <div class="product-detail-img-item flex-fill">
                                        <img class="img-fluid" src="images/pila.png" alt="">
                                    </div>
                                    <div class="product-detail-img-item flex-fill">
                                        <img class="img-fluid" src="images/pila.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="product-detail-info">
                            <div class="product-detail-name-wrap d-none d-lg-block"><h1 class="product-detail-name">Ryoba Seiun saku 300</h1></div>
                            <div class="product-detail-desc">
                                S kvalitní japonskou pilou Ryoba Seiun saku 300 od výrobce Gyokucho můžete stabilně a pevně řezat i větší kusy dřeva. <a class="underlined" href="#">Podrobný popis</a>
                            </div>
                            <div class="product-detail-score d-none d-lg-block">
                                <img src="images/stars.png" alt="">
                                23 hodnocení
                            </div>
                            <div class="product-detail-options">
                                <div class="label">Vyberte variantu:</div>
                                <div class="d-sm-flex">
                                    <div class="option flex-fill selected w-100">
                                        <input id="l" name="l" type="radio" checked>
                                        <label for="l">1l</label>
                                        <div class="option-price">350 Kč</div>
                                    </div>

                                    <div class="option flex-fill w-100">
                                        <input id="l2" name="l2" type="radio">
                                        <label for="l2">1l</label>
                                        <div class="option-price">350 Kč</div>
                                    </div>

                                    <div class="option flex-fill w-100">
                                        <input id="l3" name="l3" type="radio">
                                        <label for="l3">1l</label>
                                        <div class="option-price">350 Kč</div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detail-price-box">
                                <div class="product-detail-price-box-head">
                                    <div class="product-detail-price">1 060 Kč</div>
                                    <div class="product-detail-vat">960 Kč bez DPH</div>
                                    <div class="product-detail-warranty">Záruka 24 měsíců</div>
                                </div>
                                <div class="product-detail-price-box-footer">
                                    <button class="btn-action">Koupit</button>
                                    <div class="product-detail-availability">
                                        <div class="product-detail-availability-number">
                                            <a href="#" class="" data-toggle="modal" data-target="#exampleModal">Skladem 3ks</a>
                                        </div>
                                        <div class="product-detail-shipping">Připraveno k odeslání</div>
                                    </div>
                                </div>
                            </div>
                            <div class="additional-info text-right">
                                <span id="catalog-number">Katalogové číslo: 616</span> |
                                <span id="category">Kategorie: Ryoba</span> |
                                <span id="label">Štítek: GYOKUCHO</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tip">
                    <div class="tip-label">TIP</div>
                    <div class="tip-content">
                        Na našem <a href="#">Facebooku</a> naleznete užitečné rady a návody.
                    </div>
                </div>
            </div>

            <section class="additionals">
                <div class="container">
                    <div class="section-head">
                        <h3 class="section-title">K tomuto výrobku se vám bude hodit</h3>
                    </div>
                    <div class="search-results-wrap">
                        <div class="search-results d-flex owl-carousel-additionals owl-carousel">
                            <div class="result-product">
                                <div class="result-product-name">Náhradní list Ryoba Seiun saku 300</div>
                                <div class="result-product-img">
                                    <img class="img-fluid" src="images/nahradni_list.png" alt="">
                                </div>
                                <div class="result-product-footer">
                                    <div class="result-product-price">1 060 Kč</div>
                                    <div class="result-product-availability store">Skladem 3ks</div>
                                </div>
                            </div>

                            <div class="result-product">
                                <div class="result-product-name">Náhradní list Ryoba Seiun saku 300</div>
                                <div class="result-product-img">
                                    <img class="img-fluid" src="images/nahradni_list.png" alt="">
                                </div>
                                <div class="result-product-footer">
                                    <div class="result-product-price">1 060 Kč</div>
                                    <div class="result-product-availability store">Skladem 3ks</div>
                                </div>
                            </div>

                            <div class="result-product">
                                <div class="result-product-name">Náhradní list Ryoba Seiun saku 300</div>
                                <div class="result-product-img">
                                    <img class="img-fluid" src="images/nahradni_list.png" alt="">
                                </div>
                                <div class="result-product-footer">
                                    <div class="result-product-price">1 060 Kč</div>
                                    <div class="result-product-availability store">Skladem 3ks</div>
                                </div>
                            </div>

                            <div class="result-product">
                                <div class="result-product-name">Náhradní list Ryoba Seiun saku 300</div>
                                <div class="result-product-img">
                                    <img class="img-fluid" src="images/nahradni_list.png" alt="">
                                </div>
                                <div class="result-product-footer">
                                    <div class="result-product-price">1 060 Kč</div>
                                    <div class="result-product-availability store">Skladem 3ks</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section id="product-parameters">
                <div class="parameter-bar">
                    <div class="container">
                        <nav class="product-tab-menu nav-slider">
                            <ul class="nav nav-pills" id="" role="tablist">
                                <li id="popis_produktu" class="parameter-item active"><a class="active" id="product-description-wrap-tab" data-toggle="pill" href="#product-description-wrap" role="tab" aria-controls="product-description-wrap" aria-selected="true">Popis produktu</a></li>

                                <li id="hodnoceni" class="parameter-item">
                                    <a class="" id="product-review-wrap-tab" data-toggle="pill" href="#product-review-wrap" role="tab" aria-controls="product-review-wrap" aria-selected="false">
                                        <span class="parameter-label">Hodnocení</span>
                                        <span class="parameter-items-number">23</span>
                                    </a>
                                </li>

                                <li id="diskuze" class="parameter-item">
                                    <a class="" id="product-discussion-wrap-tab" data-toggle="pill" href="#product-discussion-wrap" role="tab" aria-controls="product-discussion-wrap" aria-selected="false"><span class="parameter-label">Diskuze</span>
                                        <span class="parameter-items-number">1</span>
                                    </a>
                                </li>
                                <a class="" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"><li id="prislusenstvi" class="parameter-item">Příslušenství</li></a>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="product-description-wrap" role="tabpanel" aria-labelledby="product-description-wrap">
                    <div id="product-description">
                        <div class="container">
                            <div class="product-name">Ryoba Seiun saku 300</div>
                            <div class="product-label">Tato japonská pila Ryoba je vhodná pro nejnáročnější tesařskou práci.</div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <p class="product-desc-para">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Quis accumsan elementum feugiat cursus dui ipsum. Risus
                                        enim ut placerat dictum iaculis in tempus. Ac elit urna
                                        ac, tortor adipiscing pellentesque egestas.
                                        Neque sagittis duis tellus, malesuada nec cum tellus donec.
                                        Id sed diam egestas at nisl ornare. Orci libero, sed amet, nec consectetur non.
                                        Magna luctus odio leo aliquet enim sed nisl. Nunc pharetra senectus habitant
                                        eget congue orci velit bibendum orci. Sed fringilla sit bibendum ullamcorper
                                        turpis cursus leo venenatis. Eros, nam tincidunt vitae nunc euismod. Orci, nec turpis ut mauris eleifend ac. Eget mauris.
                                    </p>

                                    <p class="product-desc-para">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Quis accumsan elementum feugiat cursus dui ipsum. Risus
                                        enim ut placerat dictum iaculis in tempus. Ac elit urna
                                        ac, tortor adipiscing pellentesque egestas.
                                        Neque sagittis duis tellus, malesuada nec cum tellus donec.
                                        Id sed diam egestas at nisl ornare. Orci libero, sed amet, nec consectetur non.
                                        Magna luctus odio leo aliquet enim sed nisl. Nunc pharetra senectus habitant
                                        eget congue orci velit bibendum orci. Sed fringilla sit bibendum ullamcorper
                                        turpis cursus leo venenatis. Eros, nam tincidunt vitae nunc euismod. Orci, nec turpis ut mauris eleifend ac. Eget mauris.
                                    </p>

                                    <p class="product-desc-para">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Quis accumsan elementum feugiat cursus dui ipsum. Risus
                                        enim ut placerat dictum iaculis in tempus. Ac elit urna
                                        ac, tortor adipiscing pellentesque egestas.
                                        Neque sagittis duis tellus, malesuada nec cum tellus donec.
                                        Id sed diam egestas at nisl ornare. Orci libero, sed amet, nec consectetur non.
                                        Magna luctus odio leo aliquet enim sed nisl. Nunc pharetra senectus habitant
                                        eget congue orci velit bibendum orci. Sed fringilla sit bibendum ullamcorper
                                        turpis cursus leo venenatis. Eros, nam tincidunt vitae nunc euismod. Orci, nec turpis ut mauris eleifend ac. Eget mauris.
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="parameter-box">
                                        <div class="product-label">Parametry výrobku</div>
                                        <ul class="parameter-list">
                                            <li class="parameter-item">
                                                <div class="parameter-item-name">Délka listu</div>
                                                <div class="parameter-item-value">270mm</div>
                                            </li>
                                            <li class="parameter-item">
                                                <div class="parameter-item-name">Celková délka</div>
                                                <div class="parameter-item-value">660mm</div>
                                            </li>
                                            <li class="parameter-item">
                                                <div class="parameter-item-name">Šíčka listu</div>
                                                <div class="parameter-item-value">115mm</div>
                                            </li>
                                            <li class="parameter-item">
                                                <div class="parameter-item-name">Tloušťka listu</div>
                                                <div class="parameter-item-value">0.6mm</div>
                                            </li>
                                            <li class="parameter-item">
                                                <div class="parameter-item-name">Rozteč zubů - příčný řez</div>
                                                <div class="parameter-item-value">2,3mm</div>
                                            </li>
                                            <li class="parameter-item">
                                                <div class="parameter-item-name">Rozteč zubů - podelný řez</div>
                                                <div class="parameter-item-value">3,6 - 5,8mm</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section id="advantages">
                        <div class="container">
                            <div class="row">
                                <div class="advantage-item col-lg-3">
                                    <div class="advantage-icon">
                                        <img src="images/icons/truck.svg" alt="">
                                    </div>
                                    <div class="advantage-title">Doprava</div>
                                    <div class="advantage-desc">Nad 3500 Kč zdarma</div>
                                </div>

                                <div class="advantage-item col-lg-3">
                                    <div class="advantage-icon">
                                        <img src="images/icons/crown.svg" alt="">
                                    </div>
                                    <div class="advantage-title">Precizní</div>
                                    <div class="advantage-desc">výrobky od kvalitních výrobců</div>
                                </div>

                                <div class="advantage-item col-lg-3">
                                    <div class="advantage-icon">
                                        <img src="images/icons/warehouse.svg" alt="">
                                    </div>
                                    <div class="advantage-title">95% zboží</div>
                                    <div class="advantage-desc">skladem ihned k odeslání</div>
                                </div>

                                <div class="advantage-item col-lg-3">
                                    <div class="advantage-icon">
                                        <img src="images/icons/star.svg" alt="">
                                    </div>
                                    <div class="advantage-title">Odborné</div>
                                    <div class="advantage-desc">poradenstvní a zkušenosti</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="tab-pane fade" id="product-review-wrap" role="tabpanel" aria-labelledby="product-review-wrap">
                    <div id="product-review">
                        <div class="container">
                            <div class="section-title">Hodnocení produktu</div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="review-box">
                                        <div class="review-score">4,2</div>
                                        <img src="images/stars.png" alt="">
                                        <div class="review-number">23 hodnocení</div>
                                    </div>
                                    <div class="text-center">
                                        <a class="anchor-action" href="#">Napsat vlastní hodnocení</a>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="review-item">
                                        <div class="review-author">Aleš K.</div>
                                        <img src="images/stars.png" alt="">
                                        <div class="review-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Quis accumsan elementum feugiat cursus dui ipsum. Risus
                                            enim ut placerat dictum iaculis in tempus. Ac elit urna ac,
                                            tortor adipiscing pellentesque egestas. Neque sagittis duis
                                            tellus, malesuada nec cum tellus donec.
                                        </div>
                                        <div class="review-date">Hodnoceno <span class="review-date-value">13.4.2020</span></div>
                                    </div>

                                    <div class="review-item">
                                        <div class="review-author">Aleš K.</div>
                                        <img src="images/stars.png" alt="">
                                        <div class="review-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Quis accumsan elementum feugiat cursus dui ipsum. Risus
                                            enim ut placerat dictum iaculis in tempus. Ac elit urna ac,
                                            tortor adipiscing pellentesque egestas. Neque sagittis duis
                                            tellus, malesuada nec cum tellus donec.
                                        </div>
                                        <div class="review-date">Hodnoceno <span class="review-date-value">13.4.2020</span></div>
                                    </div>

                                    <div class="review-item">
                                        <div class="review-author">Aleš K.</div>
                                        <img src="images/stars.png" alt="">
                                        <div class="review-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Quis accumsan elementum feugiat cursus dui ipsum. Risus
                                            enim ut placerat dictum iaculis in tempus. Ac elit urna ac,
                                            tortor adipiscing pellentesque egestas. Neque sagittis duis
                                            tellus, malesuada nec cum tellus donec.
                                        </div>
                                        <div class="review-date">Hodnoceno <span class="review-date-value">13.4.2020</span></div>
                                    </div>
                                    <button class="btn-action unfilled">Zobrazit všechna hodnocení</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="product-discussion-wrap" role="tabpanel" aria-labelledby="product-discussion-wrap">
                    <div id="product-discussion">
                        <div class="container">
                            <div class="section-title">Diskuze o produktu</div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="review-box">
                                        <div class="review-score">3</div>
                                        <div class="review-number">dotazy v diskuzi</div>
                                    </div>
                                    <div class="text-center">
                                        <a class="anchor-action" href="#">Přidat dotaz do diskuze</a>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="review-item">
                                        <div class="review-author">Aleš K.</div>
                                        <div class="review-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Quis accumsan elementum feugiat cursus dui ipsum. Risus
                                            enim ut placerat dictum iaculis in tempus. Ac elit urna ac,
                                            tortor adipiscing pellentesque egestas. Neque sagittis duis
                                            tellus, malesuada nec cum tellus donec.
                                        </div>
                                        <div class="discussion-action">
                                            <span class="all-replies">
                                                <span class="replies-number">2 Odpovědi</span>
                                                <img src="images/icons/arrow_down_black.svg" alt="">
                                            </span>
                                            <span class="reply">
                                                Přidat odpověď
                                            </span>
                                            <span class="discussion-date">Hodnoceno <span class="review-date-value">13.4.2020</span></span>
                                        </div>
                                        <div class="replies">
                                            <div class="reply-item admin-reply">
                                                <div class="reply-name">Martin Dřevěný</div>
                                                <div class="reply-text">
                                                    Ano, můžete s ní řezat jakýkoliv typ dřeva.
                                                </div>
                                                <div class="reply-date">Přidáno <span class="reply-date-value">13.4.2020</span></div>
                                            </div>
                                            <div class="reply-item">
                                                <div class="reply-name">Tomáš Kolemjdoucí</div>
                                                <div class="reply-text">
                                                    Zkoušel jsem to a v pohodě.
                                                </div>
                                                <div class="reply-date">Přidáno <span class="reply-date-value">13.4.2020</span></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="review-item">
                                        <div class="review-author">Aleš K.</div>
                                        <div class="review-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Quis accumsan elementum feugiat cursus dui ipsum. Risus
                                            enim ut placerat dictum iaculis in tempus. Ac elit urna ac,
                                            tortor adipiscing pellentesque egestas. Neque sagittis duis
                                            tellus, malesuada nec cum tellus donec.
                                        </div>
                                        <div class="discussion-action">
                                            <span class="all-replies">
                                                <span class="replies-number-none">Zatím bez odpoědi</span>
                                            </span>
                                            <span class="reply">
                                                Přidat odpověď
                                            </span>
                                            <span class="discussion-date">Hodnoceno <span class="review-date-value">13.4.2020</span></span>
                                        </div>
                                    </div>
                                    <button class="btn-action unfilled">Zobrazit všechny dotazy</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <section class="additionals">
                <div class="container">
                    <div class="section-head">
                        <h3 class="section-title">Související produkty</h3>
                        <!--<a class="section-action" href="#">Další doporučení</a>-->
                    </div>
                    <div class="search-results d-flex owl-carousel-additionals owl-carousel">
                        <div class="result-product flex-fill">
                            <div class="result-product-name">Náhradní list Ryoba Seiun saku 300</div>
                            <div class="result-product-img">
                                <img class="img-fluid" src="images/nahradni_list.png" alt="">
                            </div>
                            <div class="result-product-footer">
                                <div class="result-product-price">1 060 Kč</div>
                                <div class="result-product-availability store">Skladem 3ks</div>
                            </div>
                        </div>

                        <div class="result-product flex-fill">
                            <div class="result-product-name">Náhradní list Ryoba Seiun saku 300</div>
                            <div class="result-product-img">
                                <img class="img-fluid" src="images/nahradni_list.png" alt="">
                            </div>
                            <div class="result-product-footer">
                                <div class="result-product-price">1 060 Kč</div>
                                <div class="result-product-availability store">Skladem 3ks</div>
                            </div>
                        </div>

                        <div class="result-product flex-fill">
                            <div class="result-product-name">Náhradní list Ryoba Seiun saku 300</div>
                            <div class="result-product-img">
                                <img class="img-fluid" src="images/nahradni_list.png" alt="">
                            </div>
                            <div class="result-product-footer">
                                <div class="result-product-price">1 060 Kč</div>
                                <div class="result-product-availability store">Skladem 3ks</div>
                            </div>
                        </div>

                        <div class="result-product flex-fill">
                            <div class="result-product-name">Náhradní list Ryoba Seiun saku 300</div>
                            <div class="result-product-img">
                                <img class="img-fluid" src="images/nahradni_list.png" alt="">
                            </div>
                            <div class="result-product-footer">
                                <div class="result-product-price">1 060 Kč</div>
                                <div class="result-product-availability store">Skladem 3ks</div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>


        </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title" id="exampleModalLabel">Informace o dodání zboží</h5>

          </div>
          <div class="modal-body">
            <div class="item">
              <img class="icon-small" src="images/icons/warehouse.svg" alt="">
              <div>Osobně na pobočce:<br>
                <span class="bigger-text">v pondělí 5.10.</span>
              </div>
            </div>
            <div class="item">
              <img class="icon-small" src="images/icons/truck.svg" alt="">
              <div>
                Přepravní službou:<br>
                <span class="bigger-text">v úterý 6.10.</span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <p class="desc">Datum vychází z údajů přepravce. Případná zdržení nezpůsobená naší vinou bohužel nemůžeme ovlivnit. Objednávky hrazené převodem se odesílají až po připsání platby na účet (zdržení cca 2 dny).</p>
          </div>
        </div>
      </div>
    </div>
    @@include('../partials/footer.html')
    @@include('../partials/scripts/common.html')
    </body>
</html>

