<!DOCTYPE html>
<html lang="cs">
@@include('../partials/head/head.html', {
"pageTitle": "Email - odesláno"
})
<body>
@@include('../partials/header.html')
        <div class="wrapper">
            <!-- There will be HEADER -->
            <main class="main-page-content">
                <div class="container thankyou-page">
                    <img src="images/icons/shopping-bag.svg" alt="" class="thx-img">
                    <h1 class="thankyou-title">Vaše objednávka byla dokončena!</h1>
                    <p class="intro-text">Vaší objednávce <strong>č. 2000382</strong> se začneme co nejdříve věnovat. Všechny informace jsme vám také poslali na váš e-mail. O další zpracování objednávky vás budeme informovat. Děkujeme!</p>
                    <h2 class="subtitle">Naše bankovní spojení</h2>
                    <div class="bank-contacts">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="heading">CZ</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="item">
                                            <strong>Banka</strong><br>
                                            Fio banka a.s.
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item">
                                            <strong>Číslo účtu</strong><br>
                                            2201677201/2010
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item">
                                            <strong>IBAN</strong><br>
                                            CZ9620100000002201677201
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item">
                                            <strong>BIC</strong><br>
                                            FIOBCZPPXXX
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <h3 class="heading">SK</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="item">
                                            <strong>Banka</strong><br>
                                            Fio banka a.s.
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item">
                                            <strong>Číslo účtu</strong><br>
                                            2201677201/2010
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item">
                                            <strong>IBAN</strong><br>
                                            CZ9620100000002201677201
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item">
                                            <strong>BIC</strong><br>
                                            FIOBCZPPXXX
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="back-to-hp"><a href="">Zpět na úvodní stránku</a></div>

                    <div class="separator"></div>

                    <div class="stars-wrap">
                        <div class="stars-item">
                            <img src="images/icons/star.svg" alt="">
                            <h4 class="heading">2-4 dny</h4>
                            <span class="text">trvá průměrné doručení</span>
                        </div>

                        <div class="stars-item">
                            <img src="images/icons/star.svg" alt="">
                            <h4 class="heading">20 dní</h4>
                            <span class="text">na vrácení zboží</span>
                        </div>

                        <div class="stars-item">
                            <img src="images/icons/star.svg" alt="">
                            <h4 class="heading">12 let</h4>
                            <span class="text">na trhu</span>
                        </div>

                        <div class="stars-item">
                            <img src="images/icons/star.svg" alt="">
                            <h4 class="heading">Přes 10 000</h4>
                            <span class="text">spokojených zákazníků</span>
                        </div>
                    </div>

                </div>

            </main>

          @@include('../partials/footer.html')
        </div>

@@include('../partials/scripts/common.html')
</body>
</html>
